# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SWAGGER_USER=
SWAGGER_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

HTTP_TIMEOUT=
HTTP_MAX_REDIRECTS=

TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=

# NODE_ENV=PRODUCTION
# NODE_ENV=DEVELOPMENT